# MySQL
MYSQL_HOST=xxx
MYSQL_PORT=xxx
MYSQL_USER=xxx
MYSQL_PASSWORD=xxx
MYSQL_DB=xxx

# Redis
REDIS_HOST=xxx
REDIS_PORT=xxx
REDIS_PASSWORD=xxx

# RabbitMQ
RABBITMQ_HOST=xxx
RABBITMQ_DEFAULT_USER=xxx
RABBITMQ_DEFAULT_PASSWORD=xxx
RABBITMQ_NAME=xxx
RABBITMQ_PORT=xxx

# Qdrant
QDRANT_HOST=xxx
QDRANT_PORT=xxx
QDRANT_API_KEY=xxx

# =============
# 大模型通用配置
# =============
PROVIDER=custom
THINKING_ENABLED=true
SUPPORTED_THINKING=true
REASONING_EFFORT=high
METADATA={}

# 火山体验计划
LLM_API_KEY_DouBaoSeedLite=xxxxxx
LLM_BASE_URL_DouBaoSeedLite=xxx
LLM_MODEL_DouBaoSeedLite=xxx

# DeepSeek
LLM_API_KEY_DeepSeek=sk-xxx
LLM_BASE_URL_DeepSeek=xxx
LLM_BASE_MODEL_DeepSeek=xxx
LLM_DISPLAY_NAME_DeepSeek=xxx

# jwt
JWT_SECRET_KEY=xxx
ACCESS_TOKEN_EXPIRE_MINUTES=xxx
JWT_ALGORITHM=xxx

# SMPT
SMTP_HOST=xxx
SMTP_PORT=xxx
SMTP_USER=xxx
SMTP_PASSWORD=xxx # 邮箱授权码
SMTP_FROM=xxx

LOG_DIR=/log/sea_ai