# =========================
# Web Framework
# =========================
fastapi==0.115.0
uvicorn[standard]==0.30.6
beautifulsoup4

# =========================
# Scheduler task
# =========================
apscheduler

# =========================
# Database
# =========================
# mysql
sqlalchemy==2.0.35
pymysql==1.1.1
alembic==1.13.2
mysql-connector-python
# qdrant
qdrant-client

# =========================
# Cache
# =========================
redis==5.0.8

# =========================
# Message Queue
# =========================
celery==5.4.0
kombu==5.4.0
pika

# =========================
# Data Validation
# =========================
pydantic==2.9.2
pydantic-settings==2.5.2.
cryptography

# =========================
# HTTP Requests
# =========================
httpx==0.27.2
requests==2.32.3

# =========================
# AI API Clients
# =========================
langchain
langchain-openai

# =========================
# Web Crawling
# =========================
beautifulsoup4==4.12.3
lxml==5.3.0
feedparser==6.0.11
bleach

# =========================
# Async Tools
# =========================
aiofiles==24.1.0
sse-starlette
python-dotenv

# =========================
# Utils
# =========================
loguru==0.7.2
tqdm==4.66.5
# RSS -  RFC 2822 时间处理
python-dateutil

# =========================
# Data Processing
# =========================
pandas==2.2.3
numpy==2.1.1

# =========================
# Security
# =========================
python-jose==3.3.0
passlib[argon2]==1.7.4
argon2-cffi==23.1.0

# =========================
# Formatting Tools
# =========================
black==24.8.0


# =========================
# File Management
# =========================
python-multipart